{% extends 'base.html' %}
{% load static %}

{% block title%} Pavshop {% endblock title %}

 
{% block content %}
<!--======= SUB BANNER =========-->
<section class="sub-bnr" data-stellar-background-ratio="0.5">
  <div class="position-center-center">
    <div class="container">
      <h4>THE unique CHAIR BY PAVSHOP</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
        Sed feugiat, tellus vel tristique posuere, diam</p>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">BLOg details</li>
      </ol>
    </div>
  </div>
</section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Blog List -->
    <section class="blog-list blog-list-3 single-post padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row">
          
          <div class="col-md-9"> 
            
            <!-- Article../static/images/sub-bnr-bg-1.jpg -->
            <!-- <article> {% static 'images/blog-list-img-2.jpg' %} -->
              <!-- Post Img --> 
              <img class="img-responsive" src="{% static 'images/knife.jpg' %}"  > 
              <!-- Tittle -->
              <div class="post-tittle left"> <a href="#." class="tittle">{{ i.title }}</a> 
                <!-- Post Info --> 
              <!-- Post Content -->
              <div class="text-left">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit amet sem et faucibus. Nunc ornare pharetra dui, vitae auctor orci fringilla eget. Pellentesque in placerat felis. Etiam mollis venenatis luctus. Morbi ac scelerisque mauris. Etiam sodales a nulla ornare viverra. Nunc at blandit neque, bibendum varius purus. <br>
                  <br>
                  Nam sit amet sapien vitae enim vehicula tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc faucibus imperdiet vulputate. Morbi volutpat leo iaculis elit vehicula, eu convallis magna finibus. Suspendisse tristique ullamcorper erat a elementum. Cras eget elit non nunc aliquam ullamcorper quis sed metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, erat in ullamcorper bibendum, elit lacus mattis lorem, quis luctus diam lorem vel ligula.</p>
                <h6 class="margin-top-80 margin-bottom-30">proeduct history</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit amet sem et faucibus. Nunc ornare pharetra dui, vitae auctor orci fringilla eget. Pellentesque in placerat felis. Etiam mollis venenatis luctus. Morbi ac scelerisque mauris. Etiam sodales a nulla ornare viverra. <br>
                  <br>
                  Nam sit amet sapien vitae enim vehicula tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc faucibus imperdiet vulputate. Morbi volutpat leo iaculis elit vehicula, eu convallis magna finibus.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, erat in ullamcorper bibendum, elit lacus mattis lorem, quis luctus diam lorem vel ligula.</p>
                
                <!-- Post Img --> 
                <img class="img-responsive margin-top-50 margin-bottom-50" src="{% static 'images/original.jpg' %}" alt="" >
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit amet sem et faucibus. Nunc ornare pharetra dui, vitae auctor orci fringilla eget. Pellentesque in placerat felis. Etiam mollis venenatis luctus. Morbi ac scelerisque mauris. Etiam sodales a nulla ornare viverra. Nunc at blandit neque, bibendum varius purus. <br>
                  <br>
                  Nam sit amet sapien vitae enim vehicula tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc faucibus imperdiet vulputate. Morbi volutpat leo iaculis elit vehicula, eu convallis magna finibus. Suspendisse tristique ullamcorper erat a elementum. Cras eget elit non nunc aliquam ullamcorper quis sed metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, erat in ullamcorper bibendum, elit lacus mattis lorem, quis luctus diam lorem vel ligula.</p>
                
                <!-- LIST STYLE -->
                <ul class="list-group margin-top-50 margin-top-20">
                  <li>
                    <p>Donec sed dictum leo, et posuere felis. </p>
                  </li>
                  <li>
                    <p> Sed pharetra mauris vel varius suscipit. Aliquam lectus velit, </p>
                  </li>
                  <li>
                    <p> Tempus id est ut, volutpat maximus sapien. </p>
                  </li>
                </ul>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui aolutpat dui at lacus aliquet, a consequat et lacus aliquet, a consequat enim aliquet. Integer molestie sit ame.</p>
                
                <!-- Blockquote -->
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit amet sem et faucibus. </blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. NullamMorbi ac scelerisque mauris. Etiam sodales a nulla ornare viverra. Nunc at blandit neque, bociis natoque penatibus et magnnascetiscing elit. NullamMorbi ac scelerisque miscing elit. NullamMorbi ac scelerisque mur ridic volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit ame.</p>
                
               
               
                
                
              </div>
            </article>
            <hr>
            
           
              
            </div>
           
          </div>
          
          <!-- Sider Bar -->
          <div class="col-md-3">
            <div class="shop-sidebar"> 
              
              <!-- SEARCH -->
              
              
              <!-- Category -->
              <h5 class="shop-tittle margin-bottom-30">category</h5>
              <ul class="shop-cate">
                {% for category in categories %}
                <li><a href="#."> {{category.category}} </a></li>
              {% endfor %}
              </ul>
              
              
              
              <!-- TAGS -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">PAUPLAR TAGS</h5>
              <ul class="shop-tags">
                {% for tag in tags %}
                <li><a href="#.">{{ tag.tag }}</a></li>
                {% endfor %}
              </ul>
              
              <!-- BRAND -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">BRANDS</h5>
              <ul class="shop-cate">
                {% for brand in brands %}
                <li><a href="#."> {{brand.brand}} </a></li>
                {% endfor %}
              </ul>
              
              <!-- SIDE BACR BANER -->
              <div class="side-bnr margin-top-50"> <img class="img-responsive" src="{% static 'images/ps5.jpeg' %}" alt="">
                <div class="position-center-center"> <span class="price"><small>$</small>299</span>
                  <div class="bnr-text">look
                    hot
                    with
                    style</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Culture BLOCK -->
    
    
    <!-- News Letter -->
    
  </div>
  

  
</div>
{% endblock content %}
</body>
</html>